*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.54; }

.background-image, .container {
  max-width: 140rem;
  margin: 0 auto; }

.background-image {
  background-image: url(../img/background.png);
  background-size: cover; }

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: [navigation-start] 7.4rem [navigation-end friends-start] 26rem [friends-end chat-start] 1fr [chat-end profile-start] 20rem [profile-end];
  justify-content: center;
  backdrop-filter: blur(20px); }

.navigation {
  background-color: rgba(0, 0, 0, 0.7);
  grid-column: navigation-start / navigation-end;
  position: relative; }

.dots, .dots::before, .dots::after {
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
  position: absolute; }

.dots {
  background-color: #FFBD2E;
  top: 1rem;
  left: 3rem; }
  .dots::before {
    content: "";
    background-color: #FF6057;
    left: -2rem; }
  .dots::after {
    content: "";
    background-color: #29c941;
    left: 2rem; }

.icons, .icons-colored {
  display: flex;
  flex-direction: column;
  align-items: center; }

.icons {
  height: 100vh;
  justify-content: space-between; }
  .icons__link {
    position: relative; }
    .icons__link::before {
      content: "";
      height: .8rem;
      width: 0.8rem;
      border-radius: 50%;
      background-color: #919191;
      position: absolute;
      left: -2.1rem;
      top: 1.5rem;
      opacity: 0; }
    .icons__link:link, .icons__link:visited {
      text-decoration: none;
      opacity: .3; }
    .icons__link:hover, .icons__link:active, .icons__link:focus {
      opacity: 1; }
    .icons__link:focus::before {
      opacity: 1; }
  .icons__img {
    height: 4rem;
    width: 4rem;
    position: relative; }

.icons-colored {
  gap: 2rem;
  margin-top: 4rem; }

.friends {
  background-color: rgba(37, 39, 42, 0.75);
  grid-column: friends-start / friends-end;
  padding: 3.5rem 1rem 0 2.5rem;
  overflow-y: scroll; }
  .friends::-webkit-scrollbar {
    width: 1.9rem; }
  .friends::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0); }
  .friends::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    border: 7px solid rgba(0, 0, 0, 0);
    background-clip: padding-box; }
  .friends > * {
    font-size: 1.4rem;
    color: #B5B5B5; }
  .friends__title {
    justify-content: space-between; }
  .friends__heading {
    gap: 0.5rem; }
  .friends__treads {
    padding: 3rem 0; }
    .friends__treads p {
      margin-left: 1rem; }
  .friends__list {
    padding: 2rem 1.2rem;
    display: grid;
    grid-template-columns: 3.2rem 1fr;
    align-items: center;
    gap: 1.2rem; }
  .friends__icon {
    fill: #B5B5B5; }
    .friends__icon--1 {
      width: 1.2rem;
      height: .8rem;
      margin-top: 0.3rem; }
    .friends__icon--2 {
      height: 1.6rem;
      width: 1.6rem; }
    .friends__icon--3 {
      height: 1.8rem;
      width: 1.8rem; }
  .friends__photo {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 3px;
    object-fit: cover; }
  .friends__name {
    position: relative;
    text-decoration: none;
    color: inherit; }
    .friends__name::before {
      content: "";
      width: 0.8rem;
      height: 0.8rem;
      background-color: #919191;
      border-radius: 50%;
      position: absolute;
      left: -6rem;
      top: .7rem; }
    .friends__name--online::before {
      background-color: #70CC16; }

.flex-v-c {
  display: flex;
  align-items: center; }

.heading-1 {
  font-size: 2rem;
  color: #fff; }

.heading-3, .friends__title--count {
  font-size: 1.2rem;
  color: #919191;
  text-transform: uppercase; }

.channels {
  padding: 1.5rem 0; }
  .channels__list {
    display: flex;
    flex-direction: column;
    list-style: none; }
  .channels__link:link, .channels__link:visited {
    display: block;
    text-decoration: none;
    color: #B5B5B5;
    font-size: 1.4rem;
    padding: .3rem 1.3rem .7rem 1.3rem;
    border-radius: 5px; }
  .channels__link:hover, .channels__link:active, .channels__link:focus {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-weight: 700; }

.chat {
  grid-column: chat-start / chat-end;
  background-color: #fff; }

.header {
  padding: 3rem 2.4rem 1.4rem 2.4rem;
  gap: .5rem;
  border-bottom: 1px solid #e4e4e4; }
  .header__icon {
    height: 1.5rem;
    width: 1.5rem;
    fill: #B5B5B5; }
    .header__icon--1 {
      margin-right: auto; }
    .header__icon--2 {
      width: 1rem; }
    .header__icon--3 {
      transform: translateY(3px); }
    .header__icon--4 {
      margin-right: 1rem; }
  .header span {
    font-size: 1.4rem;
    color: #B5B5B5; }

.heading-2 {
  font-weight: 700;
  font-size: 2rem; }

.input {
  font-family: inherit;
  color: inherit; }
  .input:focus {
    outline: none; }
  .input::-webkit-input-placeholder {
    color: #B5B5B5;
    font-size: 1.4rem; }

.search {
  margin-left: 2.4rem; }
  .search__input {
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: .8rem 1.6rem; }
  .search__button {
    border: none;
    background-color: #fff;
    transform: translateX(-3rem); }

.notification {
  position: relative;
  margin-top: 5px; }
  .notification__sign {
    width: 0.5rem;
    height: 0.5rem;
    background-color: #FD4948;
    border-radius: 50%;
    position: absolute;
    top: -2px;
    right: .7rem; }

.messages {
  padding: 2rem 2.4rem;
  display: grid;
  grid-template-columns: 3.4rem 1fr;
  column-gap: 1.2rem;
  overflow-y: scroll;
  height: calc(100vh - 7.7rem - 7.9rem); }
  .messages::-webkit-scrollbar {
    width: 2rem; }
  .messages::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0); }
  .messages::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    border: 7px solid rgba(0, 0, 0, 0);
    background-clip: padding-box; }

.message {
  display: grid;
  grid-template-columns: repeat(2, max-content) 1fr;
  column-gap: 0.8rem;
  margin-top: -2px;
  margin-bottom: 1.5rem; }
  .message__photo {
    height: 3.4rem;
    width: 3.4rem;
    border-radius: 5px;
    object-fit: cover; }
  .message__name {
    font-size: 1.2rem;
    color: #000;
    font-weight: 700; }
  .message__time {
    font-size: 1.2rem;
    color: #919191;
    text-transform: uppercase; }
  .message__text {
    grid-column: 1 / -1;
    font-size: 1.3rem;
    color: #000;
    margin-top: -2px; }
    .message__text--link {
      color: #3577EF; }
  .message__link {
    color: #3577EF;
    text-decoration: none; }
  .message__date {
    font-size: 1.3rem;
    color: #919191;
    text-align: center;
    margin-bottom: 0.5rem;
    margin-top: -0.5rem;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
    align-items: center; }
    .message__date::before, .message__date::after {
      content: "";
      background-color: #e4e4e4;
      height: 1px;
      display: block; }
  .message__img {
    position: relative; }
    .message__img img {
      grid-column: 1 / -1;
      margin: 1rem 0;
      border-radius: 5px; }
  .message__reaction {
    font-size: 1.2rem;
    background-color: #fff;
    width: 4.5rem;
    height: 2.5rem;
    border-radius: 5px;
    box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.14);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20rem;
    left: 25rem; }

.footer {
  border-top: 1px solid #e4e4e4;
  padding: 2rem;
  gap: 2rem; }
  .footer__icon {
    fill: #B5B5B5;
    height: 2.2rem; }
    .footer__icon--1, .footer__icon--2 {
      width: 1.4rem; }
    .footer__icon--3 {
      width: 2rem;
      height: 2rem; }
  .footer__input {
    flex-grow: 1;
    padding: 1rem 0;
    border: none; }

.profile {
  background-color: rgba(255, 255, 255, 0.8);
  grid-column: profile-start / profile-end;
  display: flex;
  flex-direction: column; }
  .profile__photo {
    width: 100%;
    display: block; }
  .profile__description {
    padding: 1.4rem 2rem 2.8rem 2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2px; }
  .profile__nickname {
    gap: .7rem; }
  .profile__name {
    font-weight: 700;
    font-size: 1.6rem;
    position: relative; }
  .profile__status {
    width: 0.7rem;
    height: 0.7rem;
    background-color: #919191;
    border-radius: 50%;
    margin-right: auto; }
    .profile__status--online {
      background-color: #70CC16; }
  .profile__social {
    display: flex;
    gap: .6rem;
    margin: 2rem 0; }
  .profile__link {
    text-decoration: none;
    background-color: #e9e9e9;
    border-radius: 50%;
    height: 1.9rem;
    width: 1.9rem;
    display: flex;
    align-items: center;
    justify-content: center; }
  .profile__icon {
    fill: #787676; }
    .profile__icon--1 {
      height: 1.4rem;
      width: 0.7rem; }
    .profile__icon--2 {
      height: 1rem;
      width: 1.4rem; }
    .profile__icon--3 {
      height: 1.3rem;
      width: 1.3rem; }
    .profile__icon--4 {
      height: 1.2rem;
      width: 1.2rem; }
    .profile__icon--5 {
      width: 1rem;
      height: 1.6rem;
      align-self: flex-end;
      margin-bottom: 2.8rem;
      margin-right: 2rem; }
  .profile__button {
    border: none;
    cursor: pointer;
    text-align: center;
    font-weight: 700;
    font-family: inherit;
    height: 2.5rem;
    color: #fff;
    background-color: #3577EF;
    border-radius: 5px; }
    .profile__button--1 {
      flex: 1;
      font-size: 1.3rem; }
    .profile__button--2 {
      padding: 0.9rem;
      padding-top: 0.7rem;
      font-size: .9rem; }
  .profile__text {
    font-size: 1.4rem; }

.buttons {
  display: flex;
  gap: 3px;
  margin-bottom: 1.8rem; }

.heading-5 {
  font-weight: 400;
  font-size: 1.2rem;
  color: #5F6164; }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup__photo {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; }
  .popup__content {
    background-color: #d4d8dc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    display: grid;
    grid-template-columns: 25rem 20rem; }
  .popup__description {
    padding: 1.4rem 2rem 2.8rem 2rem; }
  .popup__close {
    text-decoration: none;
    color: #5F6164;
    font-size: 1.6rem; }
